body{
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("https://cityfurnish.com/blog/wp-content/uploads/2023/08/beach-near-hotel-min-1200x800.jpg");
    background-repeat: no-repeat;
    background-size: 1540px;
}

/* style for header section starts */

#toggler{
    display:none;

}
.logo{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color:rgb(62, 7, 62);
}
.navbar a{
    font-size: 25px;
    padding: 0 1.5rem;
    text-decoration: none;
    color: rgb(62, 7, 62);

}
a:hover{
    color: rgb(228, 10, 47);
}
.fa-bars{
    font-size:1.5rem ;
    color:#333;
    border-radius: .5rem;
    padding: 6px 6px;
    cursor:pointer;
    border: 4px solid rgba(0,0,0,0.3);
}
header{
    position:fixed;
    top:0;left:0;right:0;
    background:rgb(246, 243, 243);
    padding: 5px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:0 .5rem .5rem rgb(61, 60, 60);
}

/* styles for header section ends */

/* styles for home section starts */

.home{
    display:flex;
    align-items: center;
    min-height: 110vh;
}
.home .content{
    max-width: 50rem;
}
.home .content h3{
    font-size: 5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:black;
    font-style: italic;
    line-height: 0.5rem;
}
.home .content span{
    font-size: 3.5rem;
    color:rgb(7, 43, 7);
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.home .content p{
    font-size: 20px;
    color:rgb(30, 27, 27);
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-right: 20px;
}

/* style for home section ends */

/* Style for About section starts */

.About{
    background-color: aliceblue;
}
.About  .heading{
    font-size: 3rem;
    color:rgb(62,7,62);
    margin-top: 50px;
    text-align: center;
    background-color: grey;
    margin-bottom: 0px;
}
img{
    height: 20rem;
    width: 30rem;
    float:left;
    margin-top: 0px;
    background-color: aliceblue;
} 
.paragraph span{
    font-size: large;
    font-weight: bold;
    padding-left: 100px;
    background-color: aliceblue;
}
.paragraph p{
    padding-left: 500px;
    line-height: 2;
    background-color: aliceblue;
} 

/* styles for About section ends */

/* styles for room section starts */

.Room{
    margin-top: 30px;
    background-color: bisque;
}
.image1{
    float: right;
}
.paragraph1{
    padding:20px;
    padding-right:500px;
}
.paragraph1 span{
    font-size: 25px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.paragraph1 p{
    line-height: 1.5;
}
.booknow{
    width:150px;
    height:50px;
    font-size: 20px;
    font-weight: bold;
    margin-left:20px;
    border-radius: 30px;
    box-shadow: 2px 3px 3px solid gray;
    background-color: grey;
    border: 2px solid black;

}
.booknow:hover{
 background-color:rgb(142, 50, 65);
 color:aqua;
 cursor: pointer;
}
.button{
    background-color: bisque;
}
/* style for room section ends */

/* style for swimminng section starts */

.swimming{
    margin-top: 30px;
    background-color: aliceblue;
}
.paragraph2{
    padding-left:500px;
    line-height: 1.5;
}
.paragraph2 span{
    font-size: 25px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.findout{
    width:150px;
    height:50px;
    font-size: 20px;
    font-weight: bold;
    margin-left:20px;
    border-radius: 30px;
    box-shadow: 2px 3px 3px solid gray;
    background-color: grey;
    border: 2px solid black;

}
.findout:hover{
    background-color:rgb(142, 50, 65);
    color:aqua;
    cursor: pointer;
}
.button1{
       background-color:aliceblue;
       padding-left: 1080px;

}
   /* style for swimming section ends */

/* style for services section starts */
.head1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(62,7,62);
    background-color: grey;
}
 .Travel{
        width:20em;
        word-wrap:break-word ;
        line-height: 1.5;
        margin:20px;
        padding: 15px;
        background-color:rgb(197, 175, 148);
}
.Travel:hover{
    background-color: rgb(85, 209, 167);
    cursor: pointer;
}
.Travel span{
    font-size:25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
}
.Grouptravel{
    width:20em;
    word-wrap:break-word ;
    line-height: 1.5;
    margin:20px;
    padding: 15px;
    background-color:rgb(197, 175, 148);
}
.Grouptravel:hover{
    background-color: rgb(85, 209, 167);
    cursor: pointer;
}
.Grouptravel span{
    font-size:25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
}
.corporate{
    width:20em;
    word-wrap:break-word ;
    line-height: 1.5;
    margin:20px;
    padding: 15px;
    background-color:rgb(197, 175, 148);
    box-shadow: 10px 2px 2px solid grey;
}
.corporate:hover{
    background-color: rgb(85, 209, 167);
    cursor: pointer;
}
.corporate span{
font-size:25px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 550;
}
.flex{
    display:flex;
    padding-left:150px;
    background-color: bisque;
}
/* style for service section ends */

/* style for musing section starts */

.heading h1{
    text-align: center;
    font-size:30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
    
}
.img1{
     width:18em;
     word-wrap:break-word ;
     line-height: 1.5;
     margin:20px;
     padding: 15px;
     background-color:rgb(72, 144, 144);
}
.img1:hover{
        transform: scale(1.05);
        cursor: pointer;
}
.boating img{
    height:250px;
    width: 290px;
}
.img2{
    width:18em;
    word-wrap:break-word ;
    line-height: 1.5;
    margin:20px;
    padding: 15px;
    background-color:rgb(72, 144, 144);
   }
.img2:hover{
    transform: scale(1.05);
    cursor: pointer;
   }
.photography img{
    height:250px;
    width:290px;
}
.img3{
    width:18em;
    word-wrap:break-word ;
    line-height: 1.5;
    margin:20px;
    padding: 15px;
    background-color:rgb(72, 144, 144);
   }
.img3:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.sight img{
    height:250px;
    width: 290px;
}
.img4{
    width:18em;
    word-wrap:break-word ;
    line-height: 1.5;
    margin:20px;
    padding: 15px;
    background-color:rgb(72, 144, 144);
   }
.img4:hover{
    transform: scale(1.05);
    cursor: pointer;
   }
.happy img{
    height:250px;
    width: 290px;
}
.flex2{
    display:flex;
    padding-left: 40px;
}
.flex2 span{
    font-size: 20px;
    font-weight: bold;
}
/* musing section ends */

/* package section starts */

table{
    border-collapse: collapse;
    width:80%; 
}
th,td{
    text-align: center;
    padding: 8px;
    border:1px solid rebeccapurple;
}
.package{
    padding-left:200px;
}
.table h1{
    text-align:justify;
    font-size: 40px;
}
th{
    background-color: rgb(87, 84, 84);
}
tr{
    background-color:thistle;
    font-size: 25px;
    font-weight: 200;
}
tr:hover{
    background-color: rgb(41, 132, 132);
}
td button{
    background-color:rgb(112, 73, 150);
    font-size: 18px;
    font-weight: bold;
    box-shadow: 2px 2px black;
    cursor: pointer;
}
td button:hover{
    background-color: aqua;
}
/* package section ends */

/* contact section starts */
.contact{
    border: 1px solid black;
    margin-top: 20px;
    padding-top: 20px;
    background-color:gray;
}
.get{
    text-align: center;
}

.get h1{
    text-align: center;
}
.name{
    margin-bottom:5px;
    padding:4px 4px;
    border:1px solid #dbdbdb;
    font-size:18px;
    border-radius:2px;
    box-shadow: 2px 3px 2px black;
    margin-top: 5px;
}
.submit{
    background-color:rgb(190, 108, 122);
    padding:15px;
    border-radius:30px;
    font-size: 18px;
    box-shadow: 3px 3px 3px black;
    margin-top: 5px;
    font-weight: 600;
    margin-bottom: 20px;
}
.text{
    font-size:large;
    font-weight:600;
}
.contactus{
    display: flex;
    padding:110px;
    background-color: black;
    color: white;
}
.contactus:hover{
    cursor: pointer;
}
.contact3 img{
    height:150px;
    width: 200px
}
.Contact1{
    padding-right: 100px;
    font-size:20px;
    line-height: 1.5;

}
.Contact2{
    padding-right: 100px;
    font-size:20px;
    line-height: 1.5;
}
.contact3{
    padding-right: 100px;
    font-size:20px;
    line-height: 1.5;
}
@media(max-width=750px){
    .content{
        max-width: 60px;
        display:flex;
    }
}


    




